*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    background: #0880D6;
    padding-left: 40px;
}

.header__title {
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

main{
    display: flex;
    justify-content: space-around;
}

.main__form {
    width: 765px;
    height: 660px;
    border: 1px 1px 0px 1px;
    color: #DDDDDD;
    border-color:#DDDDDD ;
 }
